@CHARSET "UTF-8";
.zoom{
    width: 100%;
    height: 100%;
    display: block;
    /*position: relative;*/
    overflow: hidden;
    /* border: 1px solid #ddd; */
    /* background: #fff url(../images/loader.gif) no-repeat center; */
}
.zoom img{
    display:none
}
.zoomOverlay{
    /*position:absolute;*/
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:none;
    /*background-image:url(../images/zoom.png);*/
    /*background-repeat:no-repeat;*/
    /*background-position:center;*/
}