body, html, div, dl, dt, dd, ul, li, p, img, label, hr {
    padding: 0;
    margin: 0;
}
html{
    overflow-x: hidden;
}
body, html {
    width: 100%;
    height: 100%;

}

body {
    font-size: 10px;
    color: #000;
    font-family: "微软雅黑";

}

label {
    display: inline;
}

/*左侧目录树菜单项的样式设置*/
.categoryList, .mapList {
    display: block;
    margin: 0;
}


ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    margin-bottom: 0 !important;
}

img {
    border: 0;
}

/*=S =======================================主体框架 =======================================*/
#content {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ccc;
    top: 5px;
    left: 0;
    right: 0;
    overflow: hidden;
    /* bottom: 50px;*/
}

#onlinesrc-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

/*=E ========================================主体框架 =====================================*/

/*=S=========================================滚动条（chrom浏览器）==========================*/
/*定义滚动条轨道 内阴影+圆角*/
/*.leftsidebar_box::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}

.leftsidebar_box::-webkit-scrollbar-track {
    background: #fff;
}*/

/*定义滑块 内阴影+圆角*/
/*.leftsidebar_box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #4AAFE4;
}

.leftsidebar_box::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: rgba(7, 170, 247, 1);
}*/
/*=E ===================================滚动条（chrom浏览器） =====================================*/

/*=S====================================滚动条（jQuery插件，兼容所有浏览器）==========================*/
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #4AAFE4;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
    background-color: white;
}

.mCSB_container_wrapper {
    margin-right: 10px;
    margin-bottom: 10px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 10px;
}

#mCSB_1_scrollbar_vertical, .mCSB_scrollTools {
    width: 10px;
}

.mCSB_scrollTools a + .mCSB_draggerContainer {
    margin: 6px 0;
}

.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    right: 10px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
    margin: 0 6px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    height: 10px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    margin: 3px auto;
}

.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
    bottom: 10px;
}

/*=E ===================================滚动条（jQuery插件，兼容所有浏览器） =========================*/
/*=S =======================================导航部分left================================= */
.leftsidebar_box {
    /*max-width: 370px;*/
    min-width: 360px;
    background-color: #F8F8FF;
    /*overflow-y: scroll;*/
    position: absolute;
    height: inherit;
    box-shadow: 2px 0 2px rgba(0, 0, 0, .3);
    z-index: 1;
}

#firstList {
    height: 100% !important;
    position: relative;
}

#content a {
    cursor: pointer;
}
/*一级菜单项*/
.categoryList {
    background-repeat: no-repeat;
    background-position: 20px center;
    background-color: #4AAFE4;
    padding-left: 30px;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    line-height: 40px;
    cursor: pointer;
    width:auto;
    border-bottom: 1px solid #F5F5F5;

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease;
}
.categoryList:hover {
    /*position: relative;
    top: 1px;*/
    background-color: #1c8fcc;
    /*box-shadow: 0px 1px 5px rgba(81, 112, 182, 1) inset;*/
}
.categoryList:active {
    background-color: #1c8fcc;
    box-shadow: 0px 3px 3px #1783bd inset;
}

.on-list-show{
    background-color: #1c8fcc;
}

.categoryList a {
    color: #FFFFFF;
    margin-left: 2px;
}

.mapList {
    color: #f5f5f5;
    background-color: #F8F8FF;
    padding-left: 45px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.mapList a {
    font-size: 14px;
    color: #000;
}

/*=E =========================================导航部分left================================ */

/*=S =======================================地图容器部分================================== */
.iframe_wrapper {
    /*width: 100%;*/
    width: auto;
    height: 100%;
    border: none;
    z-index: 1; /*margin-left: 220px;*/
    margin-left: 190px;
    top: 0;
    bottom: 0;

}

#mapControl {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

/*=E ========================================地图容器部分================================ */

/*=s ===========================常用快捷工具栏================================ */
#header-line {
    width: 100%;
    height: 3px;
    background-color: #2B99FF;
}

#toolBars {
    z-index: 1;
    height: 36px;
    position: absolute;
    left: 370px;
    background-color: #F5F5F5;
    width: 100%;
    border: 1px solid #DBDBDB;
}

.shortMenus {
    text-align: center;
    float: left;
    margin-left: 8px;
    line-height: 36px;
}

#shortMenus-first {
    margin-left: 12px;
}

/*非分隔线元素进行居中显示*/
.tooltip-test {
    margin-top: 3px;
    width: 32px;
    height: 28px;
    border-radius: 3px;
}

.tooltip-test:hover {
    background-color: #DCDCDC;
}

/*单个功能菜单按钮的图标设置*/
#measureLen {
    background: url(../images/onlinesrcImg/measure-len.png) no-repeat;
}

#measureArea {
    background: url(../images/onlinesrcImg/measure-area.png) no-repeat;
}

#clearAll {
    background: url(../images/onlinesrcImg/clkear-icon.png) no-repeat;
}

#zoomIn {
    background: url(../images/onlinesrcImg/zoomin-icon.png) no-repeat;
}

#zoomOut {
    background: url(../images/onlinesrcImg/zoomout-icon.png) no-repeat;
}

#restore {
    background: url(../images/onlinesrcImg/restore-icon.png) no-repeat;
}

#curPosition {
    background: url(../images/onlinesrcImg/curpos-icon.png) no-repeat;
}

.closeBox {
    background: url(../images/onlinesrcImg/close-icon.png) no-repeat;
}

.title-icon {
    background: url(../images/onlinesrcImg/title-icon.png) no-repeat;
}

/*下拉列表的默认样式清除与新样式定义*/
.measure-unit-box {
    color: #666666;
    width: 128px;
    margin-top: 10px;
    display: inline-block;

    height: 40px;
    vertical-align: middle;
}

.measure-unit-showbox {
    border: 1px solid #DBDBDB;
    background-color: #F4F4F4;
    height: 30px;
    padding-left: 5px;
    display: inline-block;
    width: 128px;
    border-radius: 3px;
}

.measure-unit-icon-bg{
    background-color: #2B99FF;
    height: 30px;
    width: 30px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    float: right;
    text-align: center;
    line-height: 30px;
}
.measure-unit-txt {
    vertical-align: middle;
    width: 67px;
    font-family: "Microsoft Yahei";
    font-size: 14px;

    float: left;
    line-height: 30px;
}

.measure-unit-option {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    border-top: none;
    display: none;
    position: absolute;
    width: 133px;
    background-color: #FFFFFF;
    margin-top: -9px;
}

.measure-unit-option li {
    padding-left: 5px;
}

.measure-unit-option li.selected {
    background-color: #DDDDDD;
    color: #999;
}

.measure-unit-option li.hover {
    background: #74B9EF;
    color: #fff;
}

/*清除菜单栏元素的浮动*/
.onlinemap-menubar {
    line-height: 36px;
    text-align: center;
    margin-left: 0px;
}

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

/*IE/7/6*/
/*地图基本操作项*/
.shortMenus > img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-top: -9px;
}

.verticalLine {
    height: 33px;
    border-left: 1px solid #DBDBDB;
    box-shadow: 1px 1px 1px #ffffff;
}

/*测量*/
.shortBox {
    position: absolute;
    right: 50px;
    width: 250px;
    display: none;
    background-color: #FFFFFF;
    margin-top: -39px;
}

.boxTitle {
    margin-left: -20px;
    margin-top: 10px;
    display: inline;
    line-height: 35px;
    color: #333;
}

.title-icon {
    margin-left: 18px;
    line-height: 35px;
    display: inline;
    margin-top: 8px;
}

/*测量弹框的小三角*/
.trangle-icon {
    top: -12px;
    left: 20px;
    position: absolute;

}

/*测量的二级弹框*/
.shortMenus > ul > li {
    width: 250px;
}

/*测量的弹框*/
.shortMenus > ul {
    line-height: 27px;
    list-style-type: none;
    text-align: left;
    width: 250px;
    position: absolute;
    display: none;
    z-index: 2;
    margin-top: 13px;
    left: 18px;
    border-radius: 5px;
    border: 1px solid rgba(220,220,220,1);
    box-shadow: 0 2px 5px rgba(0,0,0,.175);
}

/*测量弹框样式*/
.measureUnit {
    width: 130px;
}

/*测量控制面板除标题外的内部内容样式*/
.measureUnitLabel {
    margin-left: 25px !important;
    line-height: 50px;
    vertical-align: middle;
}

.measureRltLabel, #measureLenRlt, #measureAreaRlt {
    margin-left: 18px !important;
    margin-top: -3px !important;
    margin-bottom: 14px;
    line-height: 50px;
}

.closeBox {
    float:right;
    margin-top: 8px;
}

.geodesicCheckbox {
    font-size: 14px;
    color: #666;
    margin-left: 24px !important;
    cursor: pointer;
    line-height: 20px;
}

.horizon-line-before-measurerlt {
    margin-top: 10px;
}

#measureLenRlt, #measureAreaRlt {
    color: #4AAFE4;
}

/*快捷功能的tooltip*/
.tooltip-test:hover {
    cursor: pointer;
}

.tooltip {
    line-height: 20px;
}

/*测量的提示信息*/
.measureTip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.tooltip-measure:before, .tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}

/*=E =====================================常用快捷工具栏======================================= */

/*=S =====================================信息提示（三维插件、浏览器兼容性）======================================= */
.tip-win
{
    width: 250px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f5f5f5;
    z-index:1;
}
.tip-info{
    margin-left: 20px;
    margin-top: 20px;
}
.download-ocx-btn{
    margin-top: 30px;
    display: inline-block;
    margin-left: 170px;
    width: 82px;
    height: 30px;
    border: 1px;
    background-color: White;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    font-size: 12px;
    font-family: Microsoft YaHei;
}
.download-ocx-btn:hover{
    background-color: #4AAFE4;
    color: #FFFFFF;
}
.closeBox{
    cursor: pointer;
}
/*=E =====================================信息提示（三维插件、浏览器兼容性）======================================= */



/*表格中地图样式*/
#map, .olMap {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.olAlphaimages {
    cursor: pointer;
}

#left-panel {
    position: absolute;
    left: 50px;
    top: 20px;
    overflow: hidden;
    pointer-events: none;
}

#searchbox {
    border-radius: 2px;
    width: 425px;
    height: 38px;
    position: relative;
    z-index: 5;
}

    #searchbox #searchbox-container {
        position: relative;
        z-index: 2;
        pointer-events: auto;
        width: 368px;
        float: left;
        box-sizing: border-box;
        box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    }

#sole-searchbox-content {
    position: relative;
}

.searchbox-content {
    width: 368px;
    height: 38px;
    border-radius: 2px 0 0 2px;
    background: #fff;
}

/*ff*/
*::-moz-placeholder {
    color: #aaa;
    font-size: 14px;
}
/*chrome,safari*/
::-webkit-input-placeholder {
    color: #aaa;
    font-size: 14px;
}
/*ie10*/
:-ms-input-placeholder {
    color: red;
}

#sole-searchbox-content #sole-input {
    box-sizing: border-box;
    border: 0;
    padding: 9px 0;
    border-left: 10px solid transparent;
    border-right: 27px solid transparent;
    line-height: 20px;
    font-size: 16px;
    height: 38px;
    color: #333;
    position: relative;
    border-radius: 2px 0 0 2px;
}

.searchbox-content .searchbox-content-common {
    box-sizing: border-box;
    float: left;
    width: 329px;
    height: 38px;
}

#sole-searchbox-content .input-clear {
    right: 39px;
}

.searchbox-content .input-clear {
    cursor: pointer;
    position: absolute;
    width: 27px;
    height: 38px;
    top: 0;
    background: url(../images/searchbox_f175577.png) no-repeat 0 -114px #fff;
    display: none;
}

.searchbox-content .searchbox-content-button {
    box-sizing: border-box;
    float: left;
    height: 38px;
    width: 39px;
    cursor: pointer;
    position: relative;
}

    .searchbox-content .searchbox-content-button.right-button::before {
        content: '';
        position: absolute;
        width: 38px;
        left: 0;
        top: 6px;
        height: 26px;
        border-left: 1px solid #eee;
    }

    .right-button{
        width:48px;
        height:32px;
        background:#f97660;
        position: absolute;
        left: 218px;
        color:#fff;
        font-size:16px;
        text-align:center;
        line-height:32px;
        cursor:pointer;
        display:none;
    }

    .loading {
        width:48px;
        height:32px;
        position: absolute;
        left: 218px;
        color:#fff;
        font-size:16px;
        text-align:center;
        line-height:32px;
        display:none;
        border:1px solid gainsboro;
        background: url(../images/loading_4a096ed.gif) no-repeat 50% 50%;
    }

#searchbox #search-button:hover {
    background-color: #2e77e5;
}

#searchbox #search-button {
    pointer-events: auto;
    background: url(../images/searchbox_f175577.png) no-repeat 0 -76px #3385ff;
    width: 57px;
    height: 38px;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
}

#cards-level0 {
    z-index: 2;
}

#cards-level1 {
    z-index: 1;
}

#card-0 {
    z-index: 100;
    max-height: 496px;
    cursor: pointer;
}

#card-1 {
    z-index: 100;
    max-height: 496px;
}

.cardlist {
    width: 368px;
    position: relative;
    z-index: 0;
}

    .cardlist .card {
        pointer-events: auto;
        width: 100%;
        margin-top: 10px;
        box-sizing: border-box;
        padding: 10px;
        background: #fff;
        box-shadow: 1px 2px 1px rgba(0,0,0,.15);
        overflow: auto;
        overflow-x: hidden;
        position: relative;
        border-radius: 2px;
        -webkit-transition: max-height .5s;
        transition: max-height .5s;
    }

    .cardlist .cardfold {
        overflow: hidden;
        max-height: 38px !important;
        background: #fff !important;
    }

    .cardlist .card .cardpic {
        height: 16px;
        width: 35px;
        float: left;
        background: url(../images/searchbox_f175577.png) no-repeat 0 0;
        background-position: 0px -273px;
    }

    .cardlist .card .cardtex {
        display: none;
        font-size: 12px;
        color: rgb(51, 133, 255);
    }

    .cardlist .card1 .card1main {
        -webkit-transition: opacity 1s,visibility 1s;
        transition: opacity 1s,visibility 1s;
    }

    .cardlist .card1 .mainfold {
        opacity: 0;
        visibility: hidden;
    }

#cards-level2 {
    padding: 0px;
    z-index: 99;
}

#card-2 {
    max-height: 560px;
}

.cardlist#cards-level2 .animated-card {
    -webkit-animation-name: card-raise;
    animation-name: card-raise;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.poidetail-container {
    color: #999;
    font-size: 12px;
}

input, button, select, textarea {
    outline: 0;
    font-family: inherit;
}

#app-right-top {
    z-index: 4;
    position: absolute;
    top: 20px;
    right: 30px;
}

#tool-container {
    float: right;
    margin-right: 6px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
}

images, table {
    border: 0;
}

.toolscontainer .optmain em.active {
    background-position: -12px -177px;
}

.toolscontainer .left, .toolscontainer .right {
    height: 34px;
    background: #fff;
    border-radius: 0 2px 2px 0;
}

.float-l {
    float: left;
}

.toolscontainer .left b, .toolscontainer .right b {
    float: left;
    height: 21px;
    display: inline-block;
    border-right: 1px solid #eee;
    top: 7px;
    position: relative;
}

.toolscontainer .left span, .toolscontainer .right span {
    float: left;
    height: 34px;
    width: 29px;
    background-image: url(../images/newtools_my.png);
    background-repeat: no-repeat;
}

.toolscontainer .last {
    border: 0 !important;
}

.spanbgcolor {
    color: rgb(87, 154, 252);
}

.toolscontainer i {
    float: left;
    font-size: 12px;
    font-style: normal;
    height: 34px;
    line-height: 34px;
    display: inline-block;
}

.toolscontainer .optmain {
    padding-right: 12px;
    line-height: 34px;
    float: left;
    cursor: pointer;
    display: inline-block;
}

    .toolscontainer .optmain em {
        width: 7px;
        height: 7px;
        float: left;
        margin-top: 13px;
        margin-left: 5px;
        background-image: url(../images/newtools_my.png);
        background-repeat: no-repeat;
        background-position: -13px -17px;
    }

.toolscontainer .editutils {
    padding-right: 7px;
    background-position: -155px -115px;
}

.editutilstog {
    padding-right: 7px;
    background-position: -155px -51px;
}

.toolscontainer .boxutils {
    padding-right: 7px;
    background-position: -34px -113px;
}

.boxutilstog {
    padding-right: 7px;
    background-position: -34px -48px;
}

.toolscontainer .queryutils {
    padding-right: 7px;
    background-position: 3px -114px;
}

.queryutilstog {
    padding-right: 7px;
    background-position: 3px -49px;
}

.toolscontainer .detail-edit {
    position: absolute;
    width: 86px;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    top: 34px;
    right: 175px;
    float: left;
    display: none;
    z-index: 80000;
}

.toolscontainer .detail-box {
    position: absolute;
    width: 86px;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    top: 34px;
    right: 90px;
    float: left;
    display: none;
    z-index: 80000;
}

.toolscontainer .detail-query {
    position: absolute;
    width: 86px;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    top: 34px;
    right: 6px;
    float: left;
    display: none;
    z-index: 80000;
}

.toolscontainer .editinfo {
    list-style-type: none;
}

    .toolscontainer .editinfo li {
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
        height: 34px;
        line-height: 34px;
        padding-left: 7px;
    }

.toolscontainer .boxinfo {
    list-style-type: none;
}

    .toolscontainer .boxinfo li {
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
        height: 34px;
        line-height: 34px;
        padding-left: 7px;
    }

        .toolscontainer .boxinfo li .measure {
            background-position: -80px -115px;
        }

        .toolscontainer .boxinfo li .mark {
            background-position: -80px -168px;
        }

.measuretog {
    background-position: -80px -50px !important;
}

.marktog {
    background-position: -40px -168px !important;
}

.toolscontainer .queryinfo {
    list-style-type: none;
}

    .toolscontainer .queryinfo li {
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
        height: 34px;
        line-height: 34px;
        padding-left: 7px;
    }

ul, ol {
    list-style: none;
}

form, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, tr, th, td, input {
    margin: 0;
    padding: 0;
}

#panel_arrow {
    opacity: 0.8;
    width: 20px;
    height: 95px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-right: none;
    border-radius: 6px 0 0 6px;
    position: absolute;
    z-index: 9999;
    top: 50%;
    right: 0;
    margin: -50px 0 0 0;
    cursor: pointer;
    line-height: 88px;
    font-size: 36px;
    font-family: "Times";
    text-align: center;
    color: #b1b1b1;
}

    #panel_arrow span {
        display: none;
    }

    #panel_arrow p {
        display: block;
    }

    #panel_arrow.go_back span {
        display: block;
    }

    #panel_arrow.go_back p {
        display: none;
    }

#panel_main {
    width: 0px;
    background: #fff;
    border: 1px solid #e5e5e5;
    position: absolute;
    z-index: 9999;
    top: 15%;
    right: 0;
}

.poilist {
    padding: 5px 0 0;
}

.search-item {
    cursor: pointer;
    padding: 6px 0;
}

.searchchange {
    background: rgb(246,246,246);
}

.cf::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    line-height: 0;
}

.search-item .col-l {
    float: left;
}

.cardlist .card a {
    text-decoration: none;
}

.search-item .no-1 {
    background-image: url(../images/markers_new2_4ab0bc5.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: 0 -139px;
}

.search-item .no-2 {
    background-image: url(../images/markers_new2_4ab0bc5.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -18px -139px;
}

.search-item .no-3 {
    background-image: url(../images/markers_new2_4ab0bc5.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -36px -139px;
}

.search-item .no-4 {
    background-image: url(../images/markers_new2_4ab0bc5.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -54px -139px;
}

.search-item .no-5 {
    background-image: url(../images/markers_new2_4ab0bc5.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -72px -139px;
}

.search-item .no-6 {
    background-image: url(../images/markers_new2_4ab0bc5.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -90px -139px;
}

.search-item .no-7 {
    background-image: url(../images/markers_new2_4ab0bc5.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -108px -139px;
}

.search-item .no-8 {
    background-image: url(../images/markers_new2_4ab0bc5.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -126px -139px;
}

.search-item .no-9 {
    background-image: url(../images/markers_new2_4ab0bc5.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -144px -139px;
}

.search-item .no-10 {
    background-image: url(../images/markers_new2_4ab0bc5.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
    background-position: -162px -139px;
}

.search-item .col-r {
    float: right;
    width: 75px;
    margin-right: 10px;
    text-align: right;
}

.h_20 {
    height: 20px;
}

.mt_5 {
    margin-top: 5px !important;
}

.search-item .images-wrap {
    position: relative;
}

.poilist a {
    text-decoration: none;
    color: #3385ff;
}

a {
    color: #00c;
    /*text-decoration: underline;*/
    outline: 0;
    cursor: pointer;
}

a, input, select {
    font-size: 12px;
}

images, table {
    border: 0;
}

.search-item .indoor-pano {
    color: #fff;
    width: 71px;
    height: 16px;
    line-height: 16px;
    background-color: #000;
    text-align: center;
    position: absolute;
    top: 42px;
    left: 4px;
    opacity: .7;
    filter: alpha(opacity=70);
}

.mr_90 {
    margin-right: 90px;
}

.ml_30 {
    margin-left: 30px !important;
}

.search-item .l-row {
    height: 0;
    overflow: hidden;
    display: none;
    padding: 8px 0 2px;
    border-top: 1px solid #E5E5E5;
}

.search-item .row, .search-item .select-row, .search-item .content-des {
    padding: 5px 0;
    line-height: 1.2;
}

#poi_page {
    margin: 10px 0;
    text-align: center;
}

#setpage .pagcls:link, .pagcls:visited, .pagcls:hover, .current, #info {
    border: 1px solid #DDD;
    display: inline-block;
    margin: 0 2px;
    text-decoration: none;
    font-size: 12px;
    color: #00c;
    font-family: "宋体",sans-serif;
    text-align: center;
    line-height: 12px;
    padding: 5px 6px 3px;
}

#setpage .pagcls:hover {
    border: 1px solid #E5E5E5;
    background: rgb(232,241,246);
}

#setpage .current {
    border: 1px solid #83E7E4;
    background: #DFF9F8;
    margin: 2px;
    color: #27CBC7;
}

#setpage #info {
    width: auto;
}

#mapzoom {
    position: absolute;
    z-index: 9999;
    bottom: 37px;
    right: 10px;
}

    #mapzoom .BMap_button_new {
        box-shadow: 1px 2px 1px rgba(0,0,0,.15);
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 5px;
        width: 26px;
        height: 26px;
        background-color: #FFF;
        border-bottom: 1px solid #ccc;
    }

        #mapzoom .BMap_button_new .in {
            width: 10px;
            height: 10px;
            margin: 8px;
            background-image: url(../images/mapZoom.png);
            background-position: 0 0;
        }

        #mapzoom .BMap_button_new .out {
            width: 10px;
            height: 10px;
            margin: 8px;
            background-image: url(../images/mapZoom.png);
            background-position: -10px 0;
        }



/*-----------POPUP------------*/
.ol-poiPopup {
            position: absolute;
            background-color: white;
            -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
            filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #cccccc;
            bottom: 12px;
            left: -50px;
            width:250px;
        }

            .ol-poiPopup:after, .ol-poiPopup:before {
                top: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            .ol-poiPopup:after {
                border-top-color: white;
                border-width: 10px;
                left: 48px;
                margin-left: -10px;
            }

            .ol-poiPopup:before {
                border-top-color: #cccccc;
                border-width: 11px;
                left: 48px;
                margin-left: -11px;
            }

        .ol-popup-closer {
            text-decoration: none;
            position: absolute;
            top: 2px;
            right: 8px;
        }

            .ol-popup-closer:after {
                content: "×";
            }

        #popup-content {
            font-size: 14px;
            font-family: "微软雅黑";
        }

            #popup-content .markerInfo {
                font-weight: bold;
            }