.dropdown{
	/*+border: 1px solid #d5d5d5;IE5.5-IE7
	border:1px solid #d5d5d5\0;IE8 only*/

}
:root .dropdown{
	border:none\0;/*IE9,IE10*/
}
.sure-operate .show-message{
	+margin-top: -1px;/*IE5.5-IE7*/
}
.my-order .my-order-list .list-content .order-ul .order-li ul li.s2{
	+text-align: left;
}
.my-order .my-order-list .list-content .order-ul .order-li ul li.s2 .product-name{
	float: left;
	margin-top: 25px;
}